
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorb :  rgb(145, 1, 255);
}

#image1{
    height:500px;
    float: right;
}

#content1{
    text-align: justify;
    padding: 5px;
    margin: 10px;
}
.container{
    background-color: wheat;
    display: flex;
    flex-direction: row;
    height: 1000px;
    justify-content: space-around;
}





.box1{
    height: 200px;
    width: 200px;
    background-color: var(--colorb);
    border: 1px black solid;
    overflow: none;
    box-shadow: 5px 5px 15px grey;
    text-shadow: 5px 5px 5px black;
    color: white;
    font-family: "Playfair Display", serif;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 1px black solid;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: purple;
    border: 1px black solid;
}
.box4{
    height: 200px;
    width: 200px;
    background-color: skyblue;
    border: 1px black solid;
}

@media (max-width:800px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
}



