*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    background-color: rgba(189, 18, 252, 0.991);
    border: solid black 3px;
    width: 400px;
    height: 250px;
    text-align: center;
    align-content: center;
    padding: 10px;
    
}

.firstPara{
    background-color: rgb(215, 164, 97);
    border: solid black 3px;
    width: 400px;

}

.secondPara{
    background-color: skyblue;
    border: solid black 3px;
    width: 400px;
}


.thirdPara{
    background-color: rgb(220, 255, 151);
    border: solid black 3px;
    width: 400px;
}

.span1{
    background-color: wheat;
    border: 3px solid black;
    
    display: inline-block;
    height: 200px;
    width: 200px;
    vertical-align: top;
    
}

.span2{
     background-color: rgb(14, 50, 254);
    border: 3px solid black;
    display: inline-block;
    height: 200px;
    width: 200px;
    vertical-align: top;
    font-size: 10px;
    
    
}

span{
    border:2px black solid;
    display: inline-block;
    width:200px;
    height: 200px;

}
.dim1,.dim2{
    background-color: red;
    height: 300px;
    width:300px;
    
    
}

.dim1{
    position: absolute;
    top: 20px;
}